{namespace url}

{template .about kind="uri"}
  our-story/index.html
{/template}

{template .fourOhFour kind="uri"}
  404.html
{/template}

{template .home kind="uri"}
  index.html
{/template}

{template .itinerary kind="uri"}
  itinerary/index.html
{/template}

{template .registry kind="uri"}
  registry/index.html
{/template}

{template .sitemapXml kind="uri"}
  sitemap.xml
{/template}

{template .travel kind="uri"}
  travel/index.html
{/template}
