/** @define Heading */

.Heading
{
  &--lead
  {
    line-height: 1.2;
    font-size: 60px;
    font-family: $font-family-cursive;
  }

  &--head
  {
    line-height: 1.2;
    font-size: 42px;
    font-family: $font-family-secondary;
  }

  &--sub
  {
    line-height: 1.2;
    font-size: 24px;
    font-family: $font-family-secondary;
  }
}
