/** @define Hotels */

.Hotels
{
  &-content
  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-ctaWrapper
  {
    display: flex;
    margin-left: -24px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &-cta
  {
    @extend .Button--primary;

    margin-top: 24px;
    margin-left: 24px;
  }

  &-other
  {
    display: flex;
    margin-top: 32px;
    flex-direction: column;
    align-items: center;
  }

  &-listItem
  {
    @extend .List-item;

    margin-top: 6px;
  }

  &-link
  {
    @extend .Link--primary;
  }

  @include bplte($bp-mobile-max)
  {
    &-ctaWrapper
    {
      flex-direction: column;
    }
  }

  &-otherNote
  {
    margin-top: 16px;
  }
}
