/** @define Registry */

.Registry
{
  @extend .Text--large;

  text-align: center;

  &-stores
  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-store
  {
    padding-top: 32px;
  }

  &-link
  {
    display: flex;
    box-shadow: $shadow-default;
    border-radius: 8px;
    width: 240px;
    height: 100%;
    border: $border-dark-dotted;
    padding: 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    transition: box-shadow $transition-default, transform $transition-default;

    &:hover
    {
      transform: translateY(-4px);
      box-shadow: $shadow-large;
    }

    &:active
    {
      transform: translateY(2px);
      box-shadow: none;
    }
  }

  &-image
  {
    margin: auto;
    width: 100%;
    object-fit: contain;
  }

  &-linkText
  {
    margin-top: 16px;
    font-weight: $font-weight-bold;
  }

  @include bpgte($bp-desktop-min)
  {
    &-stores
    {
      margin-left: -64px;
      flex-direction: row;
    }

    &-store
    {
      padding-top: 64px;
      padding-left: 64px;
    }

    &-link
    {
      width: 256px;
    }
  }
}
