{namespace file}

{template .sitemap_xml}
  {@param hostname: uri}
  {@param isoTimestamp: string}
  {@param protocol: string}

  {let $aboutPath kind="uri"}
    {call common.helpers.absoluteUrl data="all"}
      {param pathname kind="uri"}{call url.about /}{/param}
    {/call}
  {/let}
  {let $homePath kind="uri"}
    {call common.helpers.absoluteUrl data="all"}
      {param pathname kind="uri"}{call url.home /}{/param}
    {/call}
  {/let}
  {let $itineraryPath kind="uri"}
    {call common.helpers.absoluteUrl data="all"}
      {param pathname kind="uri"}{call url.itinerary /}{/param}
    {/call}
  {/let}
  {let $registryPath kind="uri"}
    {call common.helpers.absoluteUrl data="all"}
      {param pathname kind="uri"}{call url.registry /}{/param}
    {/call}
  {/let}
  {let $travelPath kind="uri"}
    {call common.helpers.absoluteUrl data="all"}
      {param pathname kind="uri"}{call url.travel /}{/param}
    {/call}
  {/let}

  {let $urls: [$aboutPath, $homePath, $itineraryPath, $registryPath, $travelPath] /}

  <?xml version="1.0" encoding="UTF-8"?>
  {\n}<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
    {foreach $url in $urls}
      {\n}  <url>
      {\n}    <loc>{$url}</loc>
      {\n}    <changefreq>weekly</changefreq>
      {\n}    <lastmod>{$isoTimestamp}</lastmod>
      {\n}    <xhtml:link rel="alternate" hreflang="en" href="{$url}"></xhtml:link>
      {\n}  </url>
    {/foreach}
  {\n}</urlset>
{/template}
