/** @define Links */

.Links
{
  &-list
  {
    text-align: center;
  }

  &-item
  {
    margin-top: 16px;

    &::after
    {
      @extend .Separator--dot;
    }
  }

  &-link
  {
    @extend .Link--primary;
  }

  @include bpgte($bp-desktop-min)
  {
    padding: 48px 0;

    &-list
    {
      display: flex;
      margin-top: -16px;
      justify-content: center;
      align-items: center;
    }

    &-item
    {
      display: flex;
      align-items: center;

      &:not(:last-child)
      {
        &::after
        {
          margin: 0 12px;
          flex-shrink: 0;
          content: '';
        }
      }
    }
  }
}
