/** @define Itinerary */

.Itinerary
{
  @extend .Text--large;

  text-align: center;

  &-day
  {
    margin-bottom: 64px;
  }

  &-date
  {
    @extend .Heading--sub;
  }

  &-events
  {
    margin: 16px auto -8px;
    text-align: start;
  }

  &-time,
  &-text
  {
    width: 50%;
    padding-bottom: 8px;
  }

  &-time
  {
    text-align: end;
    white-space: nowrap;

    &::after
    {
      padding: 0 8px;
      content: '—';
    }
  }

  &-cta
  {
    @extend .Button--primary;
  }
}
