/** @define Itinerary */

.Itinerary
{
  @extend .Text--large;

  text-align: center;

  &-day
  {
    margin-bottom: 64px;
  }

  &-date
  {
    @extend .Heading--sub;
  }

  &-events
  {
    margin: 16px auto -8px;
    text-align: start;
  }

  &-time,
  &-text
  {
    padding-bottom: 8px;
  }

  &-time
  {
    @extend .List-item;

    display: flex;

    &::after
    {
      margin-left: auto;
      padding: 0 8px;
      content: '—';
    }
  }

  &-cta
  {
    @extend .Button--primary;
  }
}
