{namespace sections.about}

{template .Gallery}
  {@param assets: map<string, [
    height: int,
    orientation: int,
    path: uri,
    size: int,
    trustedUrl: uri,
    url: uri,
    width: int
  ]>}

  {let $images: [
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/fountain.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/fountain.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/archway.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/archway.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/under_a_tree.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/under_a_tree.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/blue_flowers.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/blue_flowers.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/bench.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/bench.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/sculpture.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/sculpture.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/roses.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/roses.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/gazebo.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/gazebo.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/lanterns.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/lanterns.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/legoland.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/legoland.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/rocky_pup.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/rocky_pup.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/pumpkins.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/pumpkins.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/beauty_and_the_beast.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/beauty_and_the_beast.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/sweaters.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/sweaters.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/rocky.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/rocky.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/christmas_tree.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/christmas_tree.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/selfie.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/selfie.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/restaurant.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/restaurant.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/garden_selfie.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/garden_selfie.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/headbutt.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/headbutt.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/dancing.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/dancing.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/ring.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/ring.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/holding_hands.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/holding_hands.jpg']
    ],
    [
      'caption': '',
      'image': $assets['images/shelbyandanthony/kiss.jpg'],
      'thumbnail': $assets['images/shelbyandanthony/thumbnails/kiss.jpg']
    ]
  ] /}
  {let $secretImages: [
    [
      'caption': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
      'image': $assets['images/placeholder.png'],
      'thumbnail': $assets['images/thumbnail-placeholder.jpg']
    ],
    [
      'caption': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
      'image': $assets['images/placeholder.png'],
      'thumbnail': $assets['images/thumbnail-placeholder.jpg']
    ]
  ] /}

  {call modules.Section}
    {param content kind="html"}
      {call modules.Gallery}
        {param images: $images /}
        // {param secretImages: $secretImages /}
        {param secretSound: $assets['audio/zelda-secret.mp3'].url /}
      {/call}
    {/param}
  {/call}
{/template}
