{namespace modules}

{template .Footer}
  {@param assets: map<string, [
    height: int,
    orientation: int,
    path: uri,
    size: int,
    trustedUrl: uri,
    url: uri,
    width: int
  ]>}

  {let $prefixes: ['-webkit-'] /}
  {let $maskStyle kind="css"}
    mask-image: url({$assets['images/border.png'].url})
  {/let}

  <footer class="Footer"
    style="{foreach $prefix in $prefixes}{$prefix}{$maskStyle};{/foreach}{$maskStyle}"
  ></footer>
{/template}
