{namespace sections.travel}

{template .Parking}
  {call modules.Section}
    {param baseClass: 'Parking' /}
    {param content kind="html"}
      <div class="Parking-description">
        Valet parking will be available on-site.
      </div>
    {/param}
    {param title: 'Parking' /}
  {/call}
{/template}
