html
{
  min-height: 100%;
}

html,
body
{
  display: flex;
  background-color: $theme-color-light;
  flex-direction: column;
  color: $text-color-primary;
}

body
{
  @extend .Text;

  > *
  {
    flex-shrink: 0;
  }
}

body,
main
{
  flex-grow: 1;
}
