$bp-mobile-max: 767px;
$bp-desktop-min: 768px;

$font-family-main: 'Outfit', sans-serif;
$font-family-secondary: 'Vollkorn', serif;
$font-family-cursive: 'Great Vibes', cursive;

$font-weight-normal: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;

$butterfield: #f4c456;
$confident-yellow: #f7d600;
$dewberry: #403458;
$extra-white: #eff0eb;
$frank-blue: #302792;
$polished-mahogany: #432821;
$framboise: #803053;

$black: #000;
$gray-light: #ccc;
$gray-lightest: #eee;
$white: $extra-white;

$theme-color-primary: $frank-blue;
$theme-color-primary-alt: $theme-color-primary;
$theme-color-secondary: $butterfield;
$theme-color-dark: $polished-mahogany;
$theme-color-light: lighten($butterfield, 25%);

$text-color-primary: $theme-color-dark;
$text-color-light: $theme-color-light;
$text-color-light-title: $confident-yellow;

$background-dark: darken($dewberry, 10%);

$border-dark-dotted: 1px dotted $theme-color-dark;
$border-light: 1px solid $gray-light;
$border-lightest: 1px solid $gray-lightest;

$shadow-default: 0 2px 3px #0003;
$shadow-large: 0 4px 6px #0003;

$transition-default: 0.3s ease;

// Header variables
$header-height-mobile: 52px !default;
