/** @define Footer */

.Footer
{
  margin-top: 16px;
  height: 40px;
  mask-position: center;
  mask-size: auto 100%;
  background-color: $theme-color-dark;

  @include bpgte($bp-desktop-min)
  {
    height: 60px;
  }
}
