/** @define Hero */

.Hero
{
  display: flex;
  padding: 32px 32px 0;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &--bg
  {
    background-position: center;
    background-size: cover;
    background-color: $theme-color-dark;
    padding: 32px;
    color: $text-color-light;
  }

  &-title
  {
    @extend .Heading--lead;
  }

  &-subtitle
  {
    @extend .Heading--sub;

    margin-top: 24px;
  }

  &-subtext
  {
    position: relative;
    margin-top: 24px;
    font-size: 24px;
    font-family: $font-family-secondary;

    &::before,
    &::after
    {
      display: block;
      position: absolute;
      top: calc(50% - 0.5px);
      height: 1px;
      width: 24px;
      background: currentColor;
      content: '';
    }

    &::before
    {
      left: -40px;
    }

    &::after
    {
      right: -40px;
    }
  }

  &-cta
  {
    @extend .Button--secondary;

    margin-top: 30px;
  }

  @include bpgte($bp-desktop-min)
  {
    padding: 48px 64px 16px;

    &--bg
    {
      padding: 64px;
    }
  }
}
