/** @define LocationMap */

.LocationMap
{
  width: 100%;

  &-map
  {
    height: calc(100vw - 32px);
    width: 100%;
    min-height: 300px;
    background: $gray-lightest;
  }

  &-image
  {
    margin-bottom: 32px;
    width: 100%;
  }

  @include bpgte($bp-desktop-min)
  {
    display: flex;

    &-image,
    &-map
    {
      height: auto;
      width: 0;
      flex-grow: 1;
    }

    &-image
    {
      margin-right: 32px;
      margin-bottom: 0;
    }

    &-map:not(:only-child)
    {
      min-height: 0;
    }
  }
}
