/** @define YouTube */

.YouTube
{
  position: relative;

  &-video
  {
    width: 100%;

    &:not([src])
    {
      visibility: hidden;
    }
  }

  &-thumbnail,
  &-play
  {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-video[src] ~ &-thumbnail,
  &-video[src] ~ &-play
  {
    display: none;
  }

  &-play
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
